/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px *

rem is root-fontsize, em current font-size

rem might cause bugs in browser, so use em

A media query should work around 200to300 px range
*/


/******************/
/* BELOW 1344px (Smaller desktops) */
/******************/
/* problem is hero width is larger than nav & gallery text of gallery hidden */

/*
  we want a breakpoint at 1350px so:
  1350px/16 = 84.375 = ~84
  84*16 = 1344
*/
@media (max-width: 84em) {

  /* rem below works exact same as before */
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

}


/******************/
/* BELOW 1200px (Landscape Tablets) */
/* "tablets" alone would mean portrait mode */
/******************/

/* problem is everything feels zooms in at 1200px */
@media (max-width: 75em) {
  html {
    /* 9px / 16px = 0.5625% */
    /* with this everything that used rem gets smaller */
    font-size: 56.25%;

    /* now forexample instead of 120rem*10=1200 it will be 120rem*9=1080 */
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    /* still assume that 1rem = 10px */
    /* already h1 is 4.4rem so just change it to 3.6rem */
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero{
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}


/******************/
/* BELOW 944px (Tablets) */
/* "tablets" alone would mean portrait mode */
/******************/

@media (max-width: 59em){
  html {
    /* 8px / 16px = 0.5 */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img{
    width: 60%;
  }

  /* every inline elm is affected by text-align: center */
  .hero-text-box, .hero-img-box{
    text-align: center;
  }

  /* centering a flex container */
  .delivered-meals{
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta{
    /* 3/5=60% + 2/5=40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* Mobile Navigation */
  .btn-mobile-nav{
    display: block;
  }

  /* 1st make active, then hide it */
 
  /* Only show navigation if grid icon is clicked on */
  .main-nav{
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* move it out of screen by it's own width, transform better than left */
    transform: translateX(100%);

    /* we make it flex to center it, even though there's only 1 elm inside */
    display: flex;
    align-items: center;
    justify-content: center;

    /* adds animation only when adding .nav-open */
    transition: opacity 500ms ease-in, transform 500ms ease-in;

    /* adds animation both when closing & openning */
    /* transition: all 500ms ease-in; */

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /*  2) make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  /* first make the elm, then hide it, then add an active class to unhide it */
  .nav-open .main-nav{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link, .main-nav-link:visited{
    font-size: 3rem;
  }

}

/******************/
/* BELOW 704px (Smaller Tablets) */
/* "tablets" alone would mean portrait mode */
/******************/


@media (max-width: 44em){
  .grid--3-cols, .grid--4-cols{
    grid-template-columns: repeat(2, 1fr);
  }

  /* selecting grid item */
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }


  .pricing-plan{
    width: 100%;
  }

  .grid--footer{
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col, .address-col{
    /* take space of  3 cols */
    grid-column: span 3;
  }

  .nav-col {
    /* place them in 1st row */
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

}


/******************/
/* BELOW 544px (Phones) */
/******************/
@media (max-width: 34em) {

  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols, .grid--3-cols, .grid--4-cols{
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0 ;
  }

  /* make buttons taller, by less wide */
  .btn, .btn:link, .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  /* select what child the item is in relation to parent elm, so select 2nd child of container elm */
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    /* move elm without affecting elm around it */
    transform: translateY(2.4rem);
  }

  .testimonials{
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }


  .cta-text-box {
    padding:  3.2rem;
  }

  /* because div has no content, image doesn't get a height so it doesn't show up */
  .cta-img-box{
    height: 32rem;
    grid-row: 1;
  }

}












/* @media (max-width: 600px) {
  .section-hero {
    border: 20px dashed blue;
    background-color: blue;
  }
} */

/* anything less than 1200px this will apply */
/* @media(max-width: 1200px) {
  .section-hero{
    background-color: orangered;
  }
} */